@media only screen and (max-width: 500px) {
  .Dictionary .container {
    width: 80%;
  }
}

.card {
  display: block;
  margin: 20px auto;
  width: 45%;
  min-width: 500px;
  max-width: 500px;
  border-radius: 25px;
  box-shadow: 3px 3px 3px rgba(175, 175, 167, 0.5);
  border: 3px solid #0000;
  background: rgba(255, 255, 255, 0.8);
  padding: 30px 30px;
}

.Dictionary input {
  color: #666463;
  border-radius: 30px;
  padding: 10px 20px;
  display: block;
  border: 1px solid #c2c0bf;
  width: 37%;
  margin: 0 auto;
  outline: none;
  min-width: 400px;
}

input[type="search"]::-webkit-search-cancel-button {
  opacity: 0.5;
}